# local .terraform directories
**/.terraform

# terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfplan files
.tfplan

# IDEA configurations
.idea

# Apple Desktop Services Store files
.DS_Store

# vi(m) swap files
**/*.sw?

# Python virtual environment
.venv
.python-version
main.py
pyproject.toml
uv.lock

# TODOs
*TODO*
