repos:
- repo: local
  hooks:
    - id: prepare-pre-commit
      name: "prepare pre-commit"
      entry: bash ./.support/prepare-pre-commit.sh
      language: system
      pass_filenames: false
      always_run: true
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.99.4 # Get the latest from: https://github.com/antonbabenko/pre-commit-terraform/releases
  hooks:
    - id: terraform_fmt
    - id: terraform_docs
      args:
        - --args=--output-file=README.new
        - --args=--output-mode=inject
    - id: terraform_tflint
    # - id: terraform_trivy
    - id: terraform_validate
      args:
        - --hook-config=--retry-once-with-cleanup=true
        - --tf-init-args=-backend=false
    - id: terraform_checkov
      args:
        - --args=--quiet
- repo: https://github.com/gitleaks/gitleaks
  rev: a248f9279b38aeff5bbd4c85cc6f15b64d27e794  # frozen: v8.27.0
  hooks:
  - id: gitleaks
- repo: local
  hooks:
    - id: finish-pre-commit
      name: "finish pre-commit"
      entry: bash ./.support/finish-pre-commit.sh
      language: system
      pass_filenames: false
      always_run: true
