name: Configure

on:
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7: "GitHub Actions workflow_dispatch inputs MUST be empty"
    inputs:
      access_domain:
        description: "AWS Access Domain"
        type: string
      permission_set:
        description: "AWS Permissions Set"
        type: string
      account_id:
        description: "AWS Account Id"
        type: string
      region:
        description: "AWS Region"
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  configure:
    uses: stormreply/slt-workflows/.github/workflows/configure-v2.yaml@main
    with:
      access_domain: ${{ inputs.access_domain }}
      permission_set: ${{ inputs.permission_set }}
      account_id: ${{ inputs.account_id }}
      region: ${{ inputs.region }}
      sso: true
    secrets:
      STORM_LIBRARY_FOR_TERRAFORM: ${{ secrets.STORM_LIBRARY_FOR_TERRAFORM }}
      TERRAFORM_PRIVATE_KEY: ${{ secrets.TERRAFORM_PRIVATE_KEY }}
