name: Configure with Access Keys

on:
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7: "GitHub Actions workflow_dispatch inputs MUST be empty"
    inputs:
      configuration_target:
        description: Configuration Target
        type: choice
        default: Both
        options:
        - Terraform Deployment and Backend
        - Terraform Deployment
        - Terraform Backend
      account_id:
        description: AWS Account Id
        type: string
      region:
        description: AWS Region
        type: string

jobs:
  configure:
    uses: stormreply/slt-workflows/.github/workflows/configure-2.yaml@main
    with:
      configuration_target: ${{ inputs.configure }}
      account_id: ${{ inputs.account_id }}
      region: ${{ inputs.region }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
