name: Configure

on:
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7: "GitHub Actions workflow_dispatch inputs MUST be empty"
    inputs:
      access_domain:
        description: "AWS Access Domain"
        type: string
      access_role:
        description: "AWS Access Role"
        type: string
      backend_account:
        description: "AWS Account"
        type: string
      backend_region:
        description: "AWS Region"
        type: string

permissions:
  actions: write
  contents: read

jobs:

  configure:
    uses: stormreply/slt-workflows/.github/workflows/configure.yaml@main
    with:
      access_domain: ${{ inputs.access_domain }}
      access_role: ${{ inputs.access_role }}
      backend_account: ${{ inputs.backend_account }}
      backend_region: ${{ inputs.backend_region }}
    secrets:
      STORM_LIBRARY_FOR_TERRAFORM: ${{ secrets.STORM_LIBRARY_FOR_TERRAFORM }}
      TERRAFORM_PRIVATE_KEY: ${{ secrets.TERRAFORM_PRIVATE_KEY }}
