name: Configure

on:
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7: "GitHub Actions workflow_dispatch inputs MUST be empty"
    inputs:
      access_domain:
        description: "Access domain"
        type: string
      access_role:
        description: "Access role"
        type: string
      backend_account:
        description: "Backend account"
        type: string
      backend_region:
        description: "Backend region"
        type: string
      oidc_principal:
        description: "OIDC principal"
        type: string

permissions:
  actions: write
  contents: read


jobs:

  init:
    uses: stormreply/slt-workflows/.github/workflows/init.yaml@main
    with:
      access_domain: ${{ inputs.access_domain }}
      access_role: ${{ inputs.access_role }}
      backend_account: ${{ inputs.backend_account }}
      backend_region: ${{ inputs.backend_region }}
      oidc_principal: ${{ inputs.oidc_principal }}
    secrets:
      STORM_LIBRARY_FOR_TERRAFORM: ${{ secrets.STORM_LIBRARY_FOR_TERRAFORM }}
      TERRAFORM_PRIVATE_KEY: ${{ secrets.TERRAFORM_PRIVATE_KEY }}
