name: Configure with Identity Center

on:
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7: "GitHub Actions workflow_dispatch inputs MUST be empty"
    inputs:
      configuration_target:
        description: Configuration Target
        type: choice
        default: Both
        options:
        - Terraform Deployment and Backend
        - Terraform Deployment
        - Terraform Backend
      access_domain:
        description: "AWS Access Domain"
        type: string
      permission_set:
        description: "AWS Permission Set"
        type: string
      account_id:
        description: "AWS Account Id"
        type: string
      region:
        description: "AWS Region"
        type: string

permissions:
  actions: write
  contents: read

jobs:

  configure:
    uses: stormreply/slt-workflows/.github/workflows/configure-v2.yaml@main
    with:
      access_domain: ${{ inputs.access_domain }}
      permission_set: ${{ inputs.permission_set }}
      account_id: ${{ inputs.account_id }}
      region: ${{ inputs.region }}
      sso: true
