name: Destroy

permissions:
  contents: read
  id-token: write

on:
  workflow_dispatch:

jobs:
  destroy:
    uses: stormreply/slt-workflows/.github/workflows/destroy.yaml@main
    secrets:
      STORM_LIBRARY_FOR_TERRAFORM: ${{ secrets.STORM_LIBRARY_FOR_TERRAFORM }}
      TERRAFORM_PRIVATE_KEY: ${{ secrets.TERRAFORM_PRIVATE_KEY }}
