name: Destroy

permissions:
  contents: read
  id-token: write

on:

  workflow_dispatch:

jobs:
  destroy:
    uses: stormreply/slt-workflows/.github/workflows/destroy.yaml@main
    with:
      environment: ${{ inputs.environment }}
      delay: ${{ inputs.delay }}
    secrets:
      STORM_LIBRARY_FOR_TERRAFORM: ${{ secrets.STORM_LIBRARY_FOR_TERRAFORM }}
      TERRAFORM_PRIVATE_KEY: ${{ secrets.TERRAFORM_PRIVATE_KEY }}
