name: Settings

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:

  settings:
    uses: stormreply/slt-workflows/.github/workflows/settings.yaml@main
    secrets:
      INFRACOST_API_KEY: ${{ secrets.INFRACOST_API_KEY }}
      STORM_LIBRARY_FOR_TERRAFORM: ${{ secrets.STORM_LIBRARY_FOR_TERRAFORM }}
      TERRAFORM_PRIVATE_KEY: ${{ secrets.TERRAFORM_PRIVATE_KEY }}
